<app-header></app-header>
<section id="centre-hospitalier">
  <div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="d-flex align-items-start">
      <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link active" id="v-pills-historique-tab" data-bs-toggle="pill" data-bs-target="#v-pills-historique" type="button" role="tab" aria-controls="v-pills-historique" aria-selected="true">Historique de l'hopital</button>
        <button class="nav-link" id="v-pills-fonctionnement-tab" data-bs-toggle="pill" data-bs-target="#v-pills-fonctionnement" type="button" role="tab" aria-controls="v-pills-fonctionnement" aria-selected="false">Fonctionnement</button>
        <button class="nav-link" id="v-pills-qualite-tab" data-bs-toggle="pill" data-bs-target="#v-pills-qualite" type="button" role="tab" aria-controls="v-pills-qualite" aria-selected="false">Qualités et sécurités</button>
        <button class="nav-link" id="v-pills-organigramme-tab" data-bs-toggle="pill" data-bs-target="#v-pills-organigramme" type="button" role="tab" aria-controls="v-pills-organigramme" aria-selected="false">Organigramme</button>
        <button class="nav-link" id="v-pills-evenement-tab" data-bs-toggle="pill" data-bs-target="#v-pills-evenement" type="button" role="tab" aria-controls="v-pills-evenement" aria-selected="false">Evenement</button>
      </div>
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-historique" role="tabpanel" aria-labelledby="v-pills-historique-tab">
          <div class="card">
            <div class="card-body">
              <h2>Historique</h2>
              <!--<div>
                <p><span style="color: #666666;"><span style="font-size: medium;">Afin de réaliser votre admission, les documents suivants vous seront nécessaires :</span></span></p>
                <p><span style="color: #666666;">…………<span style="font-size: medium;">.</span></span></p>
                <p><span style="color: #666666;">………<span style="font-size: medium;">.</span></span></p>
                <p>&nbsp;</p>
                <p><span style="color: #c45911;"><span style="font-size: medium;"><b>En cas d’urgence</b></span></span></p>
                <p align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><span style="color: #666666;"><span style="font-family: Calibri, serif;">Les soins vous seront immédiatement donnés au service des urgences.</span></span></span></span></p>
                <p align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><span style="color: #666666;"><span style="font-family: Calibri, serif;">Votre dossier sera constitué ultérieurement. En attendant, votre identité et votre adresse vous seront demandées.</span></span></span></span></p>
                <p align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><span style="color: #666666;"><span style="font-family: Calibri, serif;">Il est nécessaire qu’une personne de votre entourage se présente rapidement au bureau des admissions (ouvert du lundi au vendredi de 8h00 à 17h00) pour compléter votre dossier administratif.</span></span></span></span></p>
                <p>&nbsp;</p>
                <p align="justify"><span style="color: #c45911;"> <span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><b><span style="font-family: Calibri, serif;">En dehors des cas d’urgence</span></b></span></span></span></p>
                <p align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><span style="color: #666666;"><span style="font-family: Calibri, serif;">Lorsque l’ensemble des formalités administratives aura été effectué, les demandes de prise en charge seront transmises aux organismes dont vous dépendez.</span></span></span></span></p>
                <p align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><span style="color: #666666;"><span style="font-family: Calibri, serif;">Les tarifs journaliers applicables à chaque service sont affichés dans le hall du bureau des entrées et sur le tableau d’affichage de la salle d’attente aux urgences.</span></span></span></span></p>
                <p>&nbsp;</p>
                <p align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><b><span style="color: #c45911;"><span style="font-family: Calibri, serif;">Hébergement à l’hôpital de l’Amitié Sino-Guinéenne</span></span></b></span></span></p>
                <p align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><span style="color: #666666;"><span style="font-family: Calibri, serif;">La prise en charge dans notre hôpital, les familles doivent compléter un dossier d’admission avec justifications des ressources, etc.</span></span></span></span></p>
                <p align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><span style="color: #666666;"><span style="font-family: Calibri, serif;">Ce dossier est à demander et rendu une fois complété au niveau du bureau des entrées.</span></span></span></span></p>
                <p>&nbsp;</p>
                <p align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><b><span style="color: #c45911;"><span style="font-family: Calibri, serif;">Protection juridique</span></span></b></span></span></p>
                <p align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><span style="color: #666666;"><span style="font-family: Calibri, serif;">Le médecin tient compte de l’avis de l’incapable majeur.</span></span></span></span></p>
                <p align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><span style="color: #666666;"><span style="font-family: Calibri, serif;">Toutefois, si un patient n’est plus en mesure d’assurer la gestion de ses biens, il est nécessaire qu’il soit représenté ou assisté afin de sauvegarder ses intérêts.</span></span></span></span></p>

              </div>-->
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-fonctionnement" role="tabpanel" aria-labelledby="v-pills-fonctionnement-tab">
          <div class="card">
            <div class="card-body">
              <div class="wpb_wrapper">
                <div class="wpb_text_column wpb_content_element ">
                  <div class="wpb_wrapper">
                    <p align="justify"><span style="font-size: medium;">L’hôpital de l’Amitié Sino-Guinéenne est un Etablissement Public de Santé (EPS) placé sous la tutelle de la présidence de la République. Il est administré par un Conseil d’administration et dirigé par un Directeur Général.<br>D’autres instances participent également à sa gestion.</span></p>
                    <p>&nbsp;</p>
                    <p align="justify"><span style="color: #2e74b5;"><span style="font-size: medium;"><b>Les instances délibératives</b></span></span></p>
                    <p align="justify"><span style="color: #c45911;"><span style="font-size: medium;">Le Conseil d’administration </span></span></p>
                    <p align="justify"><span style="font-size: medium;">Les missions du Conseil d’Administration sont recentrées sur les orientations stratégiques et le contrôle permanent de l’établissement et de sa gestion.<br>Le Conseil d’ Conseil d’Administration est composé de trois collèges et comprend 15 membres.</span></p>
                    <p align="justify"><span style="font-size: medium;">Le Conseil d’ Conseil d’Administration élit son président parmi les membres du collège des élus et du collège des personnalités qualifiées.</span></p>
                    <p align="justify"><span style="font-size: medium;">Le mandat de membre du Conseil d’Administration est de 5 ans. Il prend fin en même temps que le mandat ou la fonction au titre desquels les intéressés ont été́ désignés.</span></p>
                    <p>&nbsp;</p>
                    <p><span style="color: #c45911;"><span style="font-size: medium;">Composition du Conseil de surveillance :</span></span></p>
                    <p>&nbsp;</p>
                    <p><span style="font-size: medium;">Représentants des Collectivités Territoriales</span></p>
                    <p><span style="font-size: medium;">Monsieur ………… – Président<br>
                                                        Monsieur …………… – Vice – Président</span></p>
                    <p><span style="font-size: medium;">Représentants du personnel</span></p>
                    <p><span style="font-size: medium;">Monsieur…………………</span></p>
                    <p><span style="font-size: medium;">Madame le Docteur …………………………<br>
                                                        Monsieur le Docteur……………………<br>
                                                        Monsieur…………………………<br>
                    </span></p>
                    <p><span style="font-size: medium;">Représentants des usagers</span></p>
                    <p><span style="font-size: medium;">Monsieur …………………………………</span></p>

                  </div>
                </div>

                <div class="wpb_text_column wpb_content_element ">
                  <div class="wpb_wrapper">
                    <p align="justify"><span style="color: #0070c0;"><span style="font-size: medium;"><b>Les instances consultatives</b></span></span></p>
                    <p align="justify"><span style="color: #c45911;"><span style="font-size: medium;"><b>Le Directoire</b></span></span></p>
                    <p align="justify"><span style="font-size: medium;">Le Directeur Général de l’hôpital d’Amitié Sino-Guinéenne est nommé par un décret présidentiel</span></p>

                  </div>
                </div>

                <div class="wpb_text_column wpb_content_element ">
                  <div class="wpb_wrapper">
                    <p align="justify"><span style="color: #0070c0;"><span style="font-size: medium;"><b>La Commission Médicale d’Etablissement (CME)</b></span></span></p>
                    <p align="justify"><span style="font-size: medium;">La Commission Médicale d’Établissement (CME) est une instance représentant le corps médical de l’Hôpital.</span></p>
                    <p align="justify"><span style="font-size: medium;">La CME :</span></p>
                    <ul>
                      <li>
                        <p align="justify"><span style="font-size: medium;">Contribue à l’élaboration de la politique d’amélioration continue de la qualité et de la sécurité des soins et au déploiement&nbsp;de projets relatifs aux conditions d’accueil et de prise en charge des usagers</span></p>
                      </li>
                      <li>
                        <p align="justify"><span style="font-size: medium;">Est consultée sur&nbsp;le projet médical de l’établissement et le&nbsp;projet d’établissement, le règlement intérieur de l’établissement,&nbsp;les programmes d’investissement concernant les équipements médicaux …</span></p>
                      </li>
                      <li>
                        <p align="justify"><span style="font-size: medium;">Est informée sur l’état des prévisions de recettes et de dépenses,&nbsp;le contrat pluriannuel d’objectifs et de moyens de l’établissement, le rapport annuel portant sur l’activité de l’établissement,&nbsp;les contrats de pôles, la politique de recrutement des emplois médicaux…</span></p>
                      </li>
                    </ul>

                  </div>
                </div>

                <div class="wpb_text_column wpb_content_element ">
                  <div class="wpb_wrapper">
                    <p align="justify"><span style="color: #0070c0;"><span style="font-size: medium;"><b>Comité Technique d’Etablissement (CTE)</b></span></span></p>
                    <p align="justify"><span style="font-size: medium;">Le Comité Technique d’Établissement est un organe consultatif représentatif des personnels non médicaux de l’établissement.<br>Comité Technique d’Établissement est obligatoirement consulté sur&nbsp;:</span></p>
                    <ul>
                      <li>
                        <p align="justify"><span style="font-size: medium;">Le plan de redressement,</span></p>
                      </li>
                      <li>
                        <p align="justify"><span style="font-size: medium;">La politique sociale et le bilan social,</span></p>
                      </li>
                      <li>
                        <p align="justify"><span style="font-size: medium;">La politique d’amélioration continue de la qualité, de la sécurité des soins et de la gestion des risques, ainsi que sur les conditions d’accueil et de prise en charge des usagers,</span></p>
                      </li>
                      <li>
                        <p align="justify"><span style="font-size: medium;">Le règlement intérieur,</span></p>
                      </li>
                      <li>
                        <p align="justify"><span style="font-size: medium;">L’organisation des services.</span></p>
                      </li>
                    </ul>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-qualite" role="tabpanel" aria-labelledby="v-pills-qualite-tab">
          <div class="card">
            <div class="card-body">
              <div class="wpb_wrapper">
                <div class="wpb_text_column wpb_content_element ">
                  <div class="wpb_wrapper">
                    <p align="justify"><span style="color: #c45911;"><span style="font-size: medium;">Introduction</span></span></p>
                    <p align="justify"><span style="font-size: medium;">La Direction Qualité Gestion des Risques de l’hôpital de l’Amitié Sino-Guinéenne (HASIGUI) porte la démarche d’amélioration continue de la qualité et de la sécurité, sous toutes ses acceptions, des soins dus aux usagers qui sont admis à l’Hôpital de l’Amitié Sino-Guinéenne.</span></p>
                    <p align="justify"><span style="font-size: medium;">Cette Direction regroupe les activités suivantes&nbsp;:</span></p>
                    <ul>
                      <li>
                        <p align="justify"><span style="font-size: medium;">Qualité</span></p>
                      </li>
                      <li>
                        <p align="justify"><span style="font-size: medium;">Juridique</span></p>
                      </li>
                      <li>
                        <p align="justify"><span style="font-size: medium;">Communication</span></p>
                      </li>
                      <li>
                        <p align="justify"><span style="font-size: medium;">Gestion Documentaire Institutionnelle</span></p>
                      </li>
                      <li>
                        <p align="justify"><span style="font-size: medium;">Enquête de satisfaction</span></p>
                      </li>
                    </ul>

                  </div>
                </div>

                <div class="wpb_text_column wpb_content_element ">
                  <div class="wpb_wrapper">
                    <p align="justify"><span style="color: #c45911;"><span style="font-size: medium;">Qualité</span></span></p>
                    <p align="justify"><span style="font-size: medium;">L’activité Qualité peut-être schématiquement associée à la Certification du HASIGUI et à toutes les mesures connexes à cette démarche&nbsp;:</span></p>
                    <ul>
                      <li>
                        <p align="justify"><span style="font-size: medium;">Gestion (animation et suivi d’actions mises en œuvre par les groupes de travail),</span></p>
                      </li>
                      <li>
                        <p align="justify"><span style="font-size: medium;">Préparation et animation du Comité de Certification de pré-visite de certification,</span></p>
                      </li>
                      <li>
                        <p align="justify"><span style="font-size: medium;">Management de la visite de certification</span></p>
                      </li>
                    </ul>
                    <p align="justify"><span style="font-size: medium;">La démarche qualité globale s’appuie sur le management des processus qualité et sur des outils de suivi. En ce sens l’équipe de la Direction Qualité Gestion des Risques apporte un appui méthodologique aux pilotes de processus tout au long de l’année et pendant la visite de certification.</span></p>
                    <p align="justify"><span style="font-size: medium;">Par ailleurs, afin d’améliorer la qualité des prestations dont vous bénéficiez, nous réalisons des évaluations des pratiques professionnelles. Nous analysons également les remarques faites par les usagers, aussi pensez à utiliser les questionnaires de sortie pour nous faire part de vos remarques.</span></p>

                  </div>
                </div>

                <div class="wpb_text_column wpb_content_element ">
                  <div class="wpb_wrapper">
                    <p align="justify"><span style="color: #c45911;"><span style="font-size: medium;">Juridique</span></span></p>
                    <p align="justify"><span style="font-size: medium;">Le directeur des affaires juridiques exerce une fonction d’expertise, de conseil et d’assistance auprès des directions de l’hôpital. Il traite, en éclaireur averti, les sollicitations par nature diverses des services internes : achats, DRH, DAF, stratégie…</span></p>
                    <p align="justify"><span style="color: #000000;"><span style="font-size: medium;">Appelé aussi&nbsp;</span></span><span style="color: #000000;"><span style="font-size: medium;"><b>responsable contentieux ou juriste</b></span></span><span style="color: #000000;"><span style="font-size: medium;">&nbsp;(droit hospitalier), il effectue et met en œuvre des analyses, des conseils et procédures juridiques, afin de sécuriser les activités et défendre les intérêts de l’établissement.</span></span></p>
                    <p align="justify"><span style="color: #000000;"><span style="font-size: medium;">Sa mission :</span></span></p>
                    <ul>
                      <li>
                        <p align="justify"><span style="color: #000000;"><span style="font-size: medium;">l’analyse juridique des&nbsp;</span></span><span style="color: #000000;"><span style="font-size: medium;">recours et traitement des réclamations,</span></span></p>
                      </li>
                      <li>
                        <p align="justify"><span style="color: #000000;"><span style="font-size: medium;">le conseil aux décideurs</span></span><span style="color: #000000;"><span style="font-size: medium;">&nbsp;concernant les choix, les projets, les activités du domaine d’activité,</span></span></p>
                      </li>
                      <li>
                        <p align="justify"><span style="color: #000000;"><span style="font-size: medium;">le contrôle de la conformité</span></span><span style="color: #000000;"><span style="font-size: medium;">&nbsp;et / ou de validité des documents, relatifs à son domaine,</span></span></p>
                      </li>
                      <li>
                        <p align="justify"><span style="color: #000000;"><span style="font-size: medium;">la gestion et le traitement des données&nbsp;</span></span><span style="color: #000000;"><span style="font-size: medium;">/ informations,</span></span></p>
                      </li>
                      <li>
                        <p align="justify"><span style="color: #000000;"><span style="font-size: medium;">la rédaction d’actes</span></span><span style="color: #000000;"><span style="font-size: medium;">, de documents ou notes juridiques / réglementaires</span></span></p>
                      </li>
                      <li>
                        <p align="justify"><span style="color: #000000;"><span style="font-size: medium;">la veille</span></span><span style="color: #000000;"><span style="font-size: medium;">&nbsp;spécifique à son domaine d’activité.</span></span></p>
                      </li>
                    </ul>

                  </div>
                </div>

                <div class="wpb_text_column wpb_content_element ">
                  <div class="wpb_wrapper">
                    <p align="justify"><span style="color: #c45911;"><span style="font-size: medium;">Communication</span></span></p>
                    <p><span style="font-size: medium;">Communiquer, c’est aider l’hôpital son personnel à se reconnaître dans un contexte de mise en œuvre des réformes qui bouleversent l’organisation des Etablissements de Santé et qui induisent des changements culturels et institutionnels.<br>
                      La communication aide à donner de la cohérence et du sens.<br>
                      Communiquer, c’est partager et porter de l’information, mais aussi des valeurs.<br>
                      Communiquer, c’est faire preuve de transparence.<br>
                      C’est parler de tout ce qui est positif, sans pour autant occulter les difficultés.</span></p>
                    <p align="justify"><span style="font-size: medium;">Enfin, la communication est stratégique car elle est au cœur des relations soignant/soigné, services de soins, services administratifs, logistiques et techniques qu’elle permet d’améliorer par une meilleure connaissance des uns et des autres.</span></p>
                    <p><span style="font-size: medium;">Le soin apporté à une communication interne qui fédère les personnels permet de proposer une communication claire envers des usagers de plus en plus exigeants en matière d’information. Le présent site Internet en est l’illustration parfaite.</span></p>

                  </div>
                </div>

                <div class="wpb_text_column wpb_content_element ">
                  <div class="wpb_wrapper">
                    <p><span style="color: #c45911;"><span style="font-size: medium;">Gestion Documentaire Institutionnelle</span></span></p>
                    <p><span style="font-size: medium;">L’activité Gestion documentaire regroupe toutes les actions de mises aux normes graphiques et de forme de l’ensemble des procédures, protocoles, fiches techniques et annexes élaborés au sein du HASIGUI et leur archivage. Plusieurs centaines de documents (dont protocoles Hygiène, Pharmacie, Bloc,…) sont concernés. La gestion documentaire renvoie à la communication sous son aspect charte graphique. Le portail documentaire général permet d’accéder, sans identification préalable, à la base documentaire « publique ».</span></p>

                  </div>
                </div>

                <div class="wpb_text_column wpb_content_element ">
                  <div class="wpb_wrapper">
                    <p><span style="color: #c45911;"><span style="font-size: medium;">Enquête de satisfaction</span></span></p>
                    <p><span style="font-size: medium;">Communication et gestion documentaire organisées trouvent illustration dans l’activité de la Direction Qualité Gestion des Risques relative à l’organisation, au suivi et à l’exploitation des enquêtes de satisfaction, élément essentiel dans l’amélioration continue de la qualité de soins due à nos usagers.</span></p>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-organigramme" role="tabpanel" aria-labelledby="v-pills-organigramme-tab">
          <div class="card">
            <div class="card-body">
              <h2>Organigramme</h2>
              <!--<div class="wpb_wrapper">
                <div class="wpb_text_column wpb_content_element ">
                  <div class="wpb_wrapper">
                    <p><span style="color: #c45911;"><span style="font-size: medium;"><i><b>Consentement libre et éclairé</b></i></span></span></p>
                    <p align="justify"><span style="font-size: medium;">Toute personne prend, avec le professionnel de santé et compte tenu des informations et des préconisations qu’il lui fournit, les décisions concernant sa santé.</span></p>
                    <p>&nbsp;</p>
                    <p align="justify"><span style="font-size: medium;">Toute personne a le droit de refuser ou de ne pas recevoir un traitement. Le suivi du malade reste cependant assuré par le médecin, notamment son accompagnement palliatif.</span></p>
                    <p>&nbsp;</p>
                    <p align="justify"><span style="font-size: medium;">Le médecin a l’obligation de respecter la volonté de la personne après l’avoir informée des conséquences de ses choix et de leur gravité. Si, par sa volonté de refuser ou d’interrompre tout traitement, la personne met sa vie en danger, elle doit réitérer sa décision dans un délai raisonnable.<br>Elle peut faire appel à un autre membre du corps médical. L’ensemble de la procédure est inscrite dans le dossier médical du patient. Le médecin sauvegarde la dignité du mourant et assure la qualité de sa fin de vie en dispensant les soins palliatifs mentionnés à l’article………..</span></p>
                    <p>&nbsp;</p>
                    <p align="justify"><span style="font-size: medium;">Aucun acte médical ni aucun traitement ne peut être pratiqué sans le consentement libre et éclairé de la personne et ce consentement peut être retiré à tout moment.</span></p>
                    <p>&nbsp;</p>
                    <p align="justify"><span style="font-size: medium;">Lorsque la personne est hors d’état d’exprimer sa volonté, aucune intervention ou investigation ne peut être réalisée, sauf urgence ou impossibilité, sans que la personne de confiance prévue à l’article……., ou la famille, ou à défaut, un de ses proches ait été consulté.</span></p>
                    <p>&nbsp;</p>
                    <p align="justify"><span style="font-size: medium;">Lorsque la personne est hors d’état d’exprimer sa volonté, la limitation ou l’arrêt de traitement susceptible d’entraîner son décès ne peut être réalisé sans avoir respecté la procédure collégiale mentionnée à l’article&nbsp;………….&nbsp;et les directives anticipées ou, à défaut, sans que la personne de confiance prévue à l’article……..&nbsp;ou, à défaut la famille ou les proches, aient été consultés. La décision motivée de limitation ou d’arrêt de traitement est inscrite dans le dossier médical.</span></p>
                    <p>&nbsp;</p>
                    <p align="justify"><span style="font-size: medium;">Le consentement du mineur ou du majeur sous tutelle doit être systématiquement recherché s’il est apte à exprimer sa volonté et à participer à la décision. Dans le cas où le refus d’un traitement par la personne titulaire de l’autorité parentale ou par le tuteur risque d’entraîner des conséquences graves pour la santé du mineur ou du majeur sous tutelle, le médecin délivre les soins indispensables.</span></p>
                    <p>&nbsp;</p>
                    <p align="justify"><span style="font-size: medium;">L’examen d’une personne malade dans le cadre d’un enseignement clinique requiert son consentement préalable. Les étudiants qui reçoivent cet enseignement doivent être au préalable informés de la nécessité de respecter les droits des malades énoncés au présent titre.</span></p>
                    <p>&nbsp;</p>
                    <p align="justify"><span style="font-size: medium;">Les dispositions du présent article s’appliquent sans préjudice des dispositions particulières relatives au consentement de la personne pour certaines catégories de soins ou d’interventions.</span></p>

                  </div>
                </div>
              </div>-->
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-evenement" role="tabpanel" aria-labelledby="v-pills-evenement-tab">
          <div class="card">
            <div class="card-body">
              <h2>Evenement</h2>
              <!--<div class="wpb_wrapper">
                <div class="wpb_text_column wpb_content_element ">
                  <div class="wpb_wrapper">
                    <p align="justify"><span style="color: #525252;"><span style="font-size: medium;">Les formalités administratives sont nécessaires pour gérer au mieux votre dossier. Les agents du bureau des admissions et de l’accueil sont à votre disposition pour constituer votre dossier administratif et vous orienter dans vos démarches, à l’occasion d’une hospitalisation ou d’une consultation.</span></span></p>
                    <p align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><span style="color: #525252;"><span style="font-family: Calibri, serif;">Un service d’admissions est également à votre disposition sur&nbsp;notre site HASIGUI.GOV.GN</span></span></span></span></p>
                    <p><span style="color: #525252;">&nbsp;</span></p>
                    <p><span style="color: #525252;">&nbsp;</span></p>
                    <p align="justify"><span style="font-family: Times New Roman, serif;"><span style="font-size: medium;"><span style="color: #525252;"><span style="font-family: Calibri, serif;">Dans tous les cas, n’oubliez pas de présenter les documents suivants :</span></span></span></span></p>
                    <ul>
                      <li>
                        <p align="justify"><span style="color: #525252;"><span style="font-size: medium;">Pièce d’identité&nbsp;</span></span></p>
                      </li>
                      <li>
                        <p align="justify"><span style="color: #525252;"><span style="font-size: medium;">Carnet de santé pour les enfants de moins&nbsp; de 16 ans&nbsp;</span></span></p>
                      </li>
                      <li>
                        <p align="justify"><span style="color: #525252;"><span style="font-size: medium;">Carte Vitale à jour</span></span></p>
                      </li>
                      <li>
                        <p align="justify"><span style="color: #525252;"><span style="font-size: medium;">Carte de mutuelle ou prise en charge&nbsp;</span></span></p>
                      </li>
                      <li>
                        <p align="justify"><span style="color: #525252;"><span style="font-size: medium;">Attestation de droits en cours de validité&nbsp;pour les&nbsp;bénéficiaires de la couverture maladie universelle</span></span></p>
                      </li>
                      <li>
                        <p align="justify"><span style="color: #525252;"><span style="font-size: medium;">Une provision de frais égale&nbsp; à 10 jours d’hospitalisation&nbsp; est exigible&nbsp;</span></span></p>
                      </li>
                    </ul>

                  </div>
                </div>
              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
