<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngIf="roleUser==ROLES.ROLE_USER || roleUser==ROLES.ROLE_ADMIN" class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/new-schedule">Rendez-vous</a>
        </li>
        <li *ngIf="roleUser==ROLES.ROLE_USER || roleUser==ROLES.ROLE_ADMIN" class="nav-item">
          <a class="nav-link active" routerLink="/time-appointment/0">Horaire</a>
        </li>
        <li *ngIf="roleUser==ROLES.ROLE_USER || roleUser==ROLES.ROLE_ADMIN" class="nav-item">
          <a class="nav-link active" routerLink="/rendez-vous-patient">Rendez-vous Patient</a>
        </li>
        <li *ngIf="roleUser==ROLES.ROLE_USER || roleUser==ROLES.ROLE_ADMIN" class="nav-item">
          <a class="nav-link active" routerLink="/test-result-admin">Resultat Examen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/personnel">Personnel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/patient">Patient</a>
        </li>
        <li *ngIf="roleUser==ROLES.ROLE_SUPER_ADMIN || roleUser==ROLES.ROLE_ADMIN" class="nav-item">
          <a class="nav-link active" routerLink="/utilisateur">Utilisateurs</a>
        </li>
        <!--<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>-->
      </ul>
      <form class="d-flex">
        <button class="btn btn-secondary btn-sm" (click)="logOut()">
                         <span class="btn-label">
                             <i class="fa fa-sign-out-alt"></i>
                         </span>
          Déconnexion
        </button>
      </form>
    </div>
  </div>
</nav>
